<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dictionary</key>
	<dict>
		<key>File</key>
		<string>dictionary.tpl</string>
	</dict>
	<key>Toc</key>
	<dict>
		<key>File</key>
		<string>toc.tpl</string>
	</dict>
</dict>
</plist>
