<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Class</key>
	<array>
		<string>Name</string>
		<string>Anchor</string>
		<string>Description</string>
		<array>
			<string>Plural</string>
			<string>Superclass</string>
			<string>Subclasses</string>
			<string>Elements</string>
			<string>Properties</string>
			<string>Responds-To-Commands</string>
			<string>Responds-To-Events</string>
		</array>
	</array>
	<key>Element</key>
	<array>
		<string>Type</string>
		<string>Accessors</string>
	</array>
	<key>Elements</key>
	<array>
		<array>
			<string>Element</string>
		</array>
	</array>
	<key>Plural</key>
	<array>
		<string>Name</string>
		<string>Description</string>
	</array>
	<key>Properties</key>
	<array>
		<array>
			<string>Superclass</string>
			<string>Property</string>
		</array>
	</array>
	<key>Property</key>
	<array>
		<string>Type</string>
		<string>Name</string>
		<string>Read-Only</string>
		<string>Description</string>
	</array>
	<key>Responds-To-Command</key>
	<array>
		<string>Name</string>
		<string>Description</string>
	</array>
	<key>Responds-To-Commands</key>
	<array>
		<array>
			<string>Responds-To-Command</string>
		</array>
	</array>
	<key>Responds-To-Event</key>
	<array>
		<string>Name</string>
		<string>Description</string>
	</array>
	<key>Responds-To-Events</key>
	<array>
		<array>
			<string>Responds-To-Event</string>
		</array>
	</array>
	<key>Subclass</key>
	<array>
		<string>Name</string>
		<string>Description</string>
	</array>
	<key>Subclasses</key>
	<array>
		<array>
			<string>Subclass</string>
		</array>
	</array>
	<key>Superclass</key>
	<array>
		<string>Name</string>
		<string>Description</string>
	</array>
</dict>
</plist>
