<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Classes</key>
	<array>
		<array>
			<string>Class</string>
		</array>
	</array>
	<key>Commands</key>
	<array>
		<array>
			<string>Command</string>
		</array>
	</array>
	<key>Dictionary</key>
	<array>
		<string>Name</string>
		<string>Anchor</string>
		<array>
			<string>Suite</string>
			<string>Toc</string>
		</array>
	</array>
	<key>Events</key>
	<array>
		<array>
			<string>Event</string>
		</array>
	</array>
	<key>Index</key>
	<array/>
	<key>Root</key>
	<array>
		<string>Dictionary-File</string>
		<string>Dictionary-Link</string>
		<string>Dictionary-Name</string>
		<string>Suite-File</string>
		<string>Suite-Link</string>
		<string>Suite-Name</string>
		<string>Index-File</string>
		<string>Toc-File</string>
		<string>Style-File</string>
		<string>Style-Link</string>
		<array>
			<string>Style</string>
		</array>
	</array>
	<key>Style</key>
	<array>
		<string>Style-Sheet</string>
	</array>
	<key>Suite</key>
	<array>
		<string>Name</string>
		<string>Anchor</string>
		<string>Description</string>
		<array>
			<string>Classes</string>
			<string>Commands</string>
			<string>Events</string>
		</array>
	</array>
	<key>Suites</key>
	<array>
		<array>
			<string>Suite</string>
		</array>
	</array>
</dict>
</plist>
