<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Apple Dictionary RTF</string>
	<key>RequireFileType</key>
	<string>rtf</string>
	<key>TemplateStrings</key>
	<dict>
		<key>Direct-Parameter.Description</key>
		<string>-- %@</string>
		<key>Parameter.Description</key>
		<string>-- %@</string>
		<key>Property.Description</key>
		<string>-- %@</string>
		<key>Result.Description</key>
		<string>-- %@</string>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
