<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SdefFile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ScriptingDefinition</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Sdef</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.scripting-definition</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SdefDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdtpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SdtplBundle</string>
			<key>CFBundleTypeName</key>
			<string>SdefTemplateFile</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.shadowlab.sdef.template</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asdictionary</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SdefDictionary</string>
			<key>CFBundleTypeName</key>
			<string>AppleScriptDictionary</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptSuite</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptSuiteIcon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AppleScriptSuiteDefinition</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ScSu</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptTerminology</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AppleScriptSuiteTerminology</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ScTe</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>app</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Application</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>APPL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>SdefEditor</string>
	<key>CFBundleIdentifier</key>
	<string>org.shadowlab.SdefEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.2</string>
	<key>CFBundleSignature</key>
	<string>SdEd</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sdef Editor Template</string>
			<key>UTTypeIconFile</key>
			<string>SdtplBundle</string>
			<key>UTTypeIdentifier</key>
			<string>org.shadowlab.sdef.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sdtpl</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scripting Definition File</string>
			<key>UTTypeIconFile</key>
			<string>SdefFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.scripting-definition</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.shadowlab.org/Software/SdefEditor/SdefReference.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Sdef</string>
				<key>public.filename-extension</key>
				<array>
					<string>sdef</string>
				</array>
				<key>public.mime-type</key>
				<string>text/xml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
