<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdtpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Templates</string>
			<key>CFBundleTypeName</key>
			<string>SdefTemplateFile</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SdefFile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ScriptingDefinition</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Sdef</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SdefDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptSuite</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptSuiteIcon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CocoaScriptSuite</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ScSu</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptTerminology</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CocoaTerminology</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ScTe</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Sdef Editor</string>
	<key>CFBundleIconFile</key>
	<string>SdefEditor</string>
	<key>CFBundleIdentifier</key>
	<string>fr.shadowlab.SdefEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SdEd</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
